.header {
  padding: 200px 0;
  background-image: url(../../images/previewbg.png);
  background-size: cover;
  background-position: center;

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 48px;
    color: #ffffff;
  }

  &__subtitle {
    font-size: 36px;
    color: var(--color-one);
    margin-bottom: 40px;
  }

  &__button .button--view {
    background-color: var(--color-one);
    color: #ffffff;

    &:hover {
      border: 1px solid var(--color-two);
    }
  }

  &__button .button--purchase {
    background-color: #ffffff;
    margin-left: 30px;

    &:hover {
      margin-bottom: 5px;
      border: 1px solid var(--color-two);
    }
  }
}

@media (max-width: 575.98px) {
  .header {

    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 28px;
    }

    &__button .button--purchase {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}